In [27]:
import pandas as pd

In [28]:
df_1 = pd.read_csv('gemma3_4b_results_bar.csv')
df_2 = pd.read_csv('gemma3_4b_results_line.csv')
df_3 = pd.read_csv('gemma3_4b_results_scatter.csv')

In [29]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)

In [30]:
df["rel_error"] = abs(df["y_pred"] - df["y_true"]) / df["y_true"].abs()

In [31]:
summary = df.groupby("chart_type").agg(
    abs_error_avg=("abs_error", "mean"),
    abs_error_median=("abs_error", "median"),
    rel_error_avg=("rel_error", "mean"),
    accuracy_within_5=("abs_error", lambda x: (x <= 5).mean()),
    latency_avg=("inference_time", "mean"),
).reset_index()

global_summary = pd.DataFrame({
    "chart_type": ["ALL"],
    "abs_error_avg": [df["abs_error"].mean()],
    "abs_error_median": [df["abs_error"].median()],
    "rel_error_avg": [df["rel_error"].mean()],
    "accuracy_within_5": [(df["abs_error"] <= 5).mean()],
    "latency_avg": [df["inference_time"].mean()],
})

In [32]:
summary_df = pd.concat([summary, global_summary], ignore_index=True)

summary_df = summary_df.round(3)

In [33]:
summary_df

,chart_type,abs_error_avg,abs_error_median,rel_error_avg,accuracy_within_5,latency_avg
0,bar,11.578,10.710,0.189,0.091,42.319
1,line,322.642,12.500,1.288,0.348,42.667
2,scatter,7.272,4.360,0.130,0.538,46.860
3,ALL,128.953,8.275,0.585,0.383,44.420