In [17]:
import pandas as pd

In [18]:
df_1 = pd.read_csv('gemini_2_5_results_bar.csv')
df_2 = pd.read_csv('gemini_2_5_results_line.csv')
df_3 = pd.read_csv('gemini_2_5_results_scatter.csv')

In [19]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)

In [20]:
df["rel_error"] = abs(df["y_pred"] - df["y_true"]) / df["y_true"].abs()

In [21]:
summary = df.groupby("chart_type").agg(
    abs_error_avg=("abs_error", "mean"),
    abs_error_median=("abs_error", "median"),
    rel_error_avg=("rel_error", "mean"),
    accuracy_within_5=("abs_error", lambda x: (x <= 5).mean()),
    latency_avg=("inference_time", "mean"),
).reset_index()

global_summary = pd.DataFrame({
    "chart_type": ["ALL"],
    "abs_error_avg": [df["abs_error"].mean()],
    "abs_error_median": [df["abs_error"].median()],
    "rel_error_avg": [df["rel_error"].mean()],
    "accuracy_within_5": [(df["abs_error"] <= 5).mean()],
    "latency_avg": [df["inference_time"].mean()],
})

In [22]:
summary_df = pd.concat([summary, global_summary], ignore_index=True)

summary_df = summary_df.round(3)

In [23]:
summary_df

,chart_type,abs_error_avg,abs_error_median,rel_error_avg,accuracy_within_5,latency_avg
0,bar,2.686,1.445,0.044,0.800,3.328
1,line,10.405,2.990,0.279,0.706,6.082
2,scatter,2.847,1.485,0.058,0.778,6.361
3,ALL,5.666,2.310,0.138,0.756,5.582