In [35]:
import pandas as pd

In [36]:
df_1 = pd.read_csv('gemma3_12b_results_bar.csv')
df_2 = pd.read_csv('gemma3_12b_results_line.csv')
df_3 = pd.read_csv('gemma3_12b_results_scatter.csv')

In [37]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)

In [38]:
df["rel_error"] = abs(df["y_pred"] - df["y_true"]) / df["y_true"].abs()

In [39]:
summary = df.groupby("chart_type").agg(
    abs_error_avg=("abs_error", "mean"),
    abs_error_median=("abs_error", "median"),
    rel_error_avg=("rel_error", "mean"),
    accuracy_within_5=("abs_error", lambda x: (x <= 5).mean()),
    latency_avg=("inference_time", "mean"),
).reset_index()

global_summary = pd.DataFrame({
    "chart_type": ["ALL"],
    "abs_error_avg": [df["abs_error"].mean()],
    "abs_error_median": [df["abs_error"].median()],
    "rel_error_avg": [df["rel_error"].mean()],
    "accuracy_within_5": [(df["abs_error"] <= 5).mean()],
    "latency_avg": [df["inference_time"].mean()],
})

In [40]:
summary_df = pd.concat([summary, global_summary], ignore_index=True)

summary_df = summary_df.round(3)

In [41]:
summary_df

,chart_type,abs_error_avg,abs_error_median,rel_error_avg,accuracy_within_5,latency_avg
0,bar,17.151,13.930,0.296,0.286,66.268
1,line,31.949,7.580,0.167,0.409,80.970
2,scatter,4.502,2.130,0.065,0.741,91.171
3,ALL,16.866,3.425,0.134,0.554,84.050