In [36]:
import pandas as pd

In [37]:
df_1 = pd.read_csv('gemini_1_5_results_bar.csv')
df_2 = pd.read_csv('gemini_1_5_results_line.csv')
df_3 = pd.read_csv('gemini_1_5_results_scatter.csv')

In [38]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)

In [39]:
df["rel_error"] = df["abs_error"] / df["y_true"].abs()

In [40]:
summary = df.groupby("chart_type").agg(
    abs_error_avg=("abs_error", "mean"),
    abs_error_median=("abs_error", "median"),
    rel_error_avg=("rel_error", "mean"),
    accuracy_within_5=("abs_error", lambda x: (x <= 5).mean()),
    latency_avg=("inference_time", "mean"),
).reset_index()

global_summary = pd.DataFrame({
    "chart_type": ["ALL"],
    "abs_error_avg": [df["abs_error"].mean()],
    "abs_error_median": [df["abs_error"].median()],
    "rel_error_avg": [df["rel_error"].mean()],
    "accuracy_within_5": [(df["abs_error"] <= 5).mean()],
    "latency_avg": [df["inference_time"].mean()],
})

In [41]:
summary_df = pd.concat([summary, global_summary], ignore_index=True)

summary_df = summary_df.round(3)

In [42]:
summary_df

,chart_type,abs_error_avg,abs_error_median,rel_error_avg,accuracy_within_5,latency_avg
0,bar,5.034,1.13,0.093,0.727,1.287
1,line,13.626,3.19,0.139,0.600,1.293
2,scatter,1.342,0.45,0.022,0.923,1.988
3,ALL,6.950,0.99,0.082,0.758,1.584